@import "./mixin.module.scss";

.defaultContainer {
  @include defaultContainer;
  @include bgBlue1;
  // ***********************************
  .headerContainer {
    @include flexRow;
    color: white;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 3% 2% 3% 2%;
    .loginContainer {
      @include flexRow;
      width: 49%;
      justify-content: space-evenly;
      align-items: center;
      .loginButton {
        @include defaultLink;
        @include bgBlue3;
        border: 1px solid white;
      }
      .loginButton:hover {
        cursor: pointer;
        @include bgBlue1;
      }
    }
  }
  // ***********************************
  .logoLinksStatementContainer {
    @include flexRow;
    color: white;
    height: 34%;
    justify-content: space-evenly;
    .anniversaryLogoContainer {
      @include flexCol;
      width: 49%;
      border: 1px solid white;
      border-radius: 15px 15px 15px 15px;
      .anniversaryLogo {
        height: 75%;
      }
      .linksContainer {
        @include flexRow;
        justify-content: space-evenly;
        .link {
          @include defaultLink;
          @include bgBlue3;
          border: 1px solid white;
        }
        .link:hover {
          cursor: pointer;
          @include bgBlue1;
        }
      }
    }
    .missionStatementContainer {
      width: 49%;
      border: 1px solid white;
      border-radius: 15px 15px 15px 15px;
    }
  }
  // ***********************************
  .cardsContainer {
    @include flexRow;
    color: white;
    height: 45%;
    justify-content: space-evenly;
    align-items: center;
    .teacherCard {
      @include defaultCard;
      background-image: url("../images/card-bg-teacher.jpg");
    }
    .parentCard {
      @include defaultCard;
      background-image: url("../images/card-bg-parent.jpg");
    }
    .studentCard {
      @include defaultCard;
      background-image: url("../images/card-bg-student.jpg");
    }
    .leadershipCard {
      @include defaultCard;
      background-image: url("../images/card-bg-leadership.jpg");
    }
  }
  // ***********************************
  .footerContainer {
    @include flexRow;
    height: 8.5%;
    color: #003399;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
  }
}
