@import "./mixin.module.scss";

.defaultContainer {
  @include defaultContainer;
  @include bgBlue1;

  .headerContainer {
    @include flexRow;
    color: white;
    height: 12%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 3% 2% 3% 2%;
    .loginContainer {
      @include flexRow;
      width: 49%;
      justify-content: space-evenly;
      align-items: center;
      .loginButton {
        @include defaultLink;
        @include bgBlue2;
        border: 2px solid white;
      }
      .loginButton:hover {
        cursor: pointer;
      }
    }
  }

  .missionStatementContainer {
    @include flexRow;
    color: white;
    height: 34%;
    justify-content: space-evenly;
    .anniversaryLogoContainer {
      @include flexCol;
      width: 49%;
      border: 1px solid white;
      border-radius: 15px 15px 15px 15px;
      .anniversaryLogo {
        height: 75%;
      }
      .aboutContactLinks {
        @include flexRow;
        justify-content: space-evenly;
        .about {
          @include defaultLink;
          border: 1px solid white;
        }
        .about:hover {
          cursor: pointer;
        }
        .contact {
          @include defaultLink;
          border: 1px solid white;
        }
        .contact:hover {
          cursor: pointer;
        }
      }
    }
    .missionStatement {
      width: 49%;
      border: 1px solid white;
      border-radius: 15px 15px 15px 15px;
    }
  }

  .cardsContainer {
    @include flexRow;
    color: white;
    height: 45%;
    justify-content: space-evenly;
    align-items: center;
    .card {
      border: 1px solid white;
      padding: 4% 3% 4% 3%;
      border-radius: 13px 13px 13px 13px;
    }
  }

  .footerContainer {
    @include flexRow;
    color: #003399;
    justify-content: center;
    border-top: 1px solid white;
  }
}
