@mixin defaultContainer {
  box-sizing: border-box;
  padding: 0;
  height: 97vh;
  width: 100%;
  background: rgb(0, 51, 153);
  background: linear-gradient(
    90deg,
    rgba(0, 51, 153, 1) 0%,
    rgba(102, 153, 255, 1) 14%
  );
}
@mixin defaultCardBg {
  height: 60%;
  background-position: center;
  background-size: cover;
  // border: 1px solid white;
}
@mixin defaultLink {
  border-radius: 14px 14px 14px 14px;
  padding: 2% 2% 2% 2%;
}

@mixin flexRow {
  display: flex;
  flex-flow: row nowrap;
}
@mixin flexCol {
  display: flex;
  flex-flow: column nowrap;
}

@mixin bgBlue1 {
  background-color: #6699ff;
}
@mixin bgBlue2 {
  background-color: #3366cc;
}
@mixin bgBlue3 {
  background-color: #003399;
}
@mixin ourWhite {
  background-color: #ffffff;
}
