.src-styles-index-module__container {
  height: 98vh;
  border: 1px solid #232639;
  display: flex;
  flex-flow: row wrap; }
  .src-styles-index-module__container .src-styles-index-module__navigation {
    height: 100%;
    width: 16%;
    background-color: #232639; }
    .src-styles-index-module__container .src-styles-index-module__navigation ul {
      padding: 0; }
      .src-styles-index-module__container .src-styles-index-module__navigation ul li {
        list-style-type: none;
        color: white;
        box-sizing: border-box;
        margin: 15% 0% 0% 0%;
        padding: 0% 0% 0% 2%; }
      .src-styles-index-module__container .src-styles-index-module__navigation ul li:hover {
        cursor: pointer; }

